BR2_aarch64=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
BR2_GNU_MIRROR="https://mirrors.kernel.org/gnu"
BR2_CCACHE=y
BR2_TARGET_GENERIC_HOSTNAME="drafterhost"
BR2_TARGET_GENERIC_ISSUE="Welcome to Loophole Labs DrafterOS k3s"
BR2_INIT_SYSTEMD=y
BR2_SYSTEM_DEFAULT_PATH="/bin:/sbin:/usr/bin:/usr/sbin"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_LOOPHOLE_LABS_DRAFTER_OS_PATH)/board/firecracker-aarch64/overlay/"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.115"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_LOOPHOLE_LABS_DRAFTER_OS_PATH)/board/firecracker-aarch64/kernel.config"
BR2_LINUX_KERNEL_VMLINUX=y
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_CHRONY=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPTABLES_BPF_NFSYNPROXY=y
BR2_PACKAGE_IPTABLES_NFTABLES=y
BR2_PACKAGE_NFTABLES=y
# BR2_PACKAGE_SYSTEMD_TIMESYNCD is not set
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="2048M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_DRAFTER_LIVENESS=y
BR2_PACKAGE_DRAFTER_AGENT=y
BR2_PACKAGE_DRAFTER_AGENT_SYSTEMD_DEPENDENCY="k3s.service"
BR2_PACKAGE_K3S=y
